/* Styling the common elements on each page */

@import url('https://fonts.googleapis.com/css2?family=Allerta&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    /* font-family: 'Poppins', sans-serif; */
}

.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}


/* styling the top navigation bar */
.navbar{
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 10px 0 3px 0;
    background: #fff;
    font-family: 'Poppins', sans-serif;
    box-shadow: 0 4px 5px -6px #075A19;
    transition: all 0.3s ease;
}

.navbar.sticky{
    box-shadow: 0 5px 9px -6px #075A19;
}

.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a img{
    width: 65px;
    height: auto;
}

.navbar .menu li{
    list-style: none;
    display: inline-block;
}

.navbar .menu li a{
    color: #075A19;
    font-size: 16px;
    font-weight: 500;
    margin-left: 30px;
    transition: color 0.3s ease;
}

.navbar .menu li a:hover{
    color: #149C32;
}

.scroll-up-btn{
    position: fixed;
    height: 45px;
    width: 42px;
    background: #222;
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: #fff;
    z-index: 9999;
    font-size: 30px;
    border-radius: 6px;
    border-bottom-width: 2px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}
.scroll-up-btn.show{
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
}
.scroll-up-btn:hover{
    filter: brightness(90%);
}

/* styling the menu button */
.menu-btn{
    color: #075A19;
    font-size: 23px;
    cursor: pointer;
    display: none;
}

.menu-btn:hover{
    color: #149C32;
}

/* bottom nav */

.bottom-nav ul{
    display: flex;
    padding-top:15px;
    padding-bottom: 7px;
    padding-right: 25px;
    list-style: none;
}

.bottom-nav a{
    margin-left: 1.2rem;
}

.bottom-nav i{
    color: #075A19;
    font-size: 30px;
}

.bottom-nav i:hover{
    color: #149C32;
}

.main-footer{
    font-family: 'Poppins', sans-serif;
    /*height: 70px;*/
    left: 0;
    bottom: 0;
    width: 100%;
    padding-bottom: 15px;
    background: white;
    color: #075A19;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*justify-content: space-around;*/
    height: auto;
    /* box-shadow: 0 4px 5px -6px #075A19; */
    border-top:0.5px solid #149C32;
    position: static;
}


.made{
    font-size: 15px;
    font-weight: 300;
}

.bottom{
    height: 79px;
    position: relative;
    overflow: hidden;
  }
  
.bottom img{
    height: 71.6px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

@media (max-width: 865px){
    /* .max-width{
        padding: 0 50px;
    } */

    .menu-btn{
        display: block;
        z-index: 999;
    }

    .menu-btn i.active:before{
        content: "\f00d";
    }

    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: #fff;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }

    .navbar .menu.active{
        left: 0;
    }

    .navbar .menu li{
        display: block;
    }

    .navbar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
}
